.two-col{
	
	@include grid-media($large-and-above) {
		display: flex;
		justify-content: space-between;

		.two-one-col{
			width: 50%;

			&:first-child{
				padding-right: 30px;
			}
		}
	}

	.small-carousel{
		.slick-slide{
			img{
				width: 100%;
				height: auto;
			}
		}
	}
	
	p, blockquote{
		font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
		line-height: 2rem;
		font-weight: 300;
		margin-bottom: 20px;
		font-size: 1rem;
		-webkit-font-smoothing: antialiased;
	}

	p:first-child:first-line{
		font-size: 2rem;
		font-family: "Requiem Display A", "Requiem Display B";
	}

	blockquote{
		text-align: center;
		position: relative;
		@include margin(30px 0);


		p:first-line{
			font-size: 2.5rem;
			font-family: "Requiem Display A", "Requiem Display B";
		}

		&:before, &:after{
			font-size: 4rem;
			position: absolute;
			display: block;
		}

		&:before{
			content: "\201C";
			display: block;
			font-size: 4rem;
			position: absolute;
		}

		&:after{
			content: "\201D";
			display: block;
			right: 0;
			bottom: 0;
		}
	}
}