@charset "UTF-8";
/**
 *  style.scss
 *
 *  Description:
 *  Imports all files.
 *
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import '//cloud.typography.com/7291996/7132792/css/fonts.css';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.25em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/*

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
*/
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* ======  Variables ====== */
/* === Mixins === */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 100rem;
  position: relative; }
  .container::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (max-width: 374px) {
    .container {
      padding-right: 6.25%;
      padding-left: 6.25%; } }
  @media only screen and (min-width: 375px) and (max-width: 767px) {
    .container {
      padding-right: 5.46875%;
      padding-left: 5.46875%; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
      padding-right: 3.90625%;
      padding-left: 3.90625%; } }
  @media only screen and (min-width: 1024px) {
    .container {
      padding-right: 3.47222%;
      padding-left: 3.47222%; } }

.container-wrapper::after {
  clear: both;
  content: "";
  display: table; }

@media only screen and (max-width: 374px) {
  .container-wrapper {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    width: calc(100% + 1.5rem); } }

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .container-wrapper {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    width: calc(100% + 2.5rem); } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container-wrapper {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    width: calc(100% + 2.5rem); } }

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .container-wrapper {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    width: calc(100% + 2.5rem); } }

/* === Fonts === */
/**
* Font face declarations for Typography.com hosted fonts
*/
/* Requiem Display Roman */
@font-face {
  font-family: "Requiem Display A", "Requiem Display B";
  font-style: normal;
  font-weight: 400; }

/* Requiem Display Italic */
@font-face {
  font-family: "Requiem Display A", "Requiem Display B";
  font-style: italic;
  font-weight: 400; }

/* Ringside Regular */
@font-face {
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: normal;
  font-weight: 400; }

/* Ringside Italic */
@font-face {
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: italic;
  font-weight: 400; }

/* Ringside Bold */
@font-face {
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: normal;
  font-weight: 700; }

/* Ringside Bold Italic */
@font-face {
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: italic;
  font-weight: 700; }

/* === Typography === */
a {
  color: #a49b94;
  text-decoration: none;
  transition: color 250ms ease-out; }
  a:active, a:focus, a:hover {
    color: #54453D; }

blockquote {
  line-height: 1.1; }

body {
  font-family: "Requiem Display A", "Requiem Display B";
  color: #a49b94;
  line-height: 1.35; }

h1,
h2,
h3 {
  font-family: "Requiem Display A", "Requiem Display B";
  line-height: 1.1; }

h1 {
  margin: 0.75rem 0; }
  @media only screen and (max-width: 374px) {
    h1 {
      font-size: 2.625rem; } }
  @media only screen and (min-width: 375px) {
    h1 {
      font-size: 3.75rem; } }

h2 {
  font-size: 2.25rem; }
  h2.page-title {
    text-transform: uppercase;
    text-align: center;
    display: table;
    white-space: nowrap;
    font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
    font-style: normal;
    font-weight: 100;
    font-size: 1.3rem;
    letter-spacing: 4px;
    overflow: hidden;
    width: 100%;
    padding: 20px 0 60px; }
    h2.page-title:before, h2.page-title:after {
      border-top: 1px solid #a49b94;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%; }
    h2.page-title:before {
      right: 1.5%; }
    h2.page-title:after {
      left: 1.5%; }

h3 {
  font-size: 1.5rem; }

h4.with-border {
  text-transform: uppercase;
  text-align: center;
  display: table;
  white-space: nowrap;
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: normal;
  font-weight: 100;
  font-size: 0.875rem;
  letter-spacing: 4px;
  overflow: hidden;
  width: 100%; }
  h4.with-border:before, h4.with-border:after {
    border-top: 1px solid #a49b94;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%; }
  h4.with-border:before {
    right: 1.5%; }
  h4.with-border:after {
    left: 1.5%; }

hr {
  border-left: 0;
  border-right: 0;
  border-top: 0; }

p, ol, ul {
  font-size: 1rem;
  line-height: 1.5rem; }

.line-break {
  display: block; }

.stroke {
  color: #ffffff;
  text-shadow: 3px 3px #a49b94; }
  @supports (-webkit-text-stroke: 1px #a49b94) {
    .stroke {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: #a49b94;
      -webkit-text-stroke-width: 1px;
      color: transparent;
      text-shadow: none; }
      @media only screen and (min-width: 768px) {
        .stroke {
          -webkit-text-stroke-width: 3px; } } }

.uppercase {
  text-transform: uppercase; }

.centered-content {
  text-align: center;
  margin-bottom: 30px; }
  .centered-content p {
    font-size: 1.375rem; }

* {
  box-sizing: border-box;
  transition: all 0.5s ease;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.inner-wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 100rem;
  position: relative; }
  .inner-wrap::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (max-width: 374px) {
    .inner-wrap {
      padding-right: 6.25%;
      padding-left: 6.25%; } }
  @media only screen and (min-width: 375px) and (max-width: 767px) {
    .inner-wrap {
      padding-right: 5.46875%;
      padding-left: 5.46875%; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .inner-wrap {
      padding-right: 3.90625%;
      padding-left: 3.90625%; } }
  @media only screen and (min-width: 1024px) {
    .inner-wrap {
      padding-right: 3.47222%;
      padding-left: 3.47222%; } }

.large-inner-wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 100rem;
  position: relative; }
  .large-inner-wrap::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (max-width: 374px) {
    .large-inner-wrap {
      padding-right: 6.25%;
      padding-left: 6.25%; } }
  @media only screen and (min-width: 375px) and (max-width: 767px) {
    .large-inner-wrap {
      padding-right: 5.46875%;
      padding-left: 5.46875%; } }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .large-inner-wrap {
      padding-right: 3.90625%;
      padding-left: 3.90625%; } }
  @media only screen and (min-width: 1024px) {
    .large-inner-wrap {
      padding-right: 3.47222%;
      padding-left: 3.47222%; } }
  @media only screen and (min-width: 768px) {
    .large-inner-wrap {
      max-width: 100rem; } }

/**
 *  modules.scss
 *
 *  Description:
 *  Re-useable site modules.
 *
 */
/* === Blog Block Items === */
.blog-block-items {
  margin: 1.875rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .blog-block-items .blog-block-item-image {
    width: 100%; }
  .blog-block-items .blog-block-item {
    margin-bottom: 1.875rem; }
    @media only screen and (min-width: 768px) {
      .blog-block-items .blog-block-item {
        width: 50%;
        padding: 1rem;
        margin-bottom: 0; } }
    .blog-block-items .blog-block-item h4 {
      text-align: center;
      text-transform: uppercase; }
      .blog-block-items .blog-block-item h4.press-title {
        font-size: 1rem; }
      .blog-block-items .blog-block-item h4.press-date {
        font-size: 0.9375rem; }

/* === Book Promo === */
.book-promo {
  margin: 1.875rem 0; }
  .book-promo .large-inner-wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 100rem;
    position: relative;
    display: flex;
    flex-direction: column; }
    .book-promo .large-inner-wrap::after {
      clear: both;
      content: "";
      display: block; }
    @media only screen and (max-width: 374px) {
      .book-promo .large-inner-wrap {
        padding-right: 6.25%;
        padding-left: 6.25%; } }
    @media only screen and (min-width: 375px) and (max-width: 767px) {
      .book-promo .large-inner-wrap {
        padding-right: 5.46875%;
        padding-left: 5.46875%; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .book-promo .large-inner-wrap {
        padding-right: 3.90625%;
        padding-left: 3.90625%; } }
    @media only screen and (min-width: 1024px) {
      .book-promo .large-inner-wrap {
        padding-right: 3.47222%;
        padding-left: 3.47222%; } }
    @media only screen and (max-width: 374px) {
      .book-promo .large-inner-wrap {
        flex: 1 1 100%; } }
    @media only screen and (min-width: 768px) {
      .book-promo .large-inner-wrap {
        align-items: center;
        justify-content: space-between;
        flex: 1;
        flex-direction: row; } }
  .book-promo .two-book-tall {
    flex: 1; }
    @media only screen and (min-width: 768px) {
      .book-promo .two-book-tall {
        height: auto;
        display: flex;
        flex-direction: row; } }
    .book-promo .two-book-tall .book-image {
      width: 46%;
      height: auto;
      flex: 1;
      border: 1px solid #a49b94;
      margin: 0 0.3125rem; }
      @media only screen and (min-width: 768px) {
        .book-promo .two-book-tall .book-image {
          align-items: center;
          height: 200px; } }
  .book-promo .book-information {
    flex: 1;
    text-align: center;
    padding: 1.25rem; }
  .book-promo .book-bar-wide {
    flex: 1; }
    @media only screen and (min-width: 768px) {
      .book-promo .book-bar-wide {
        display: flex; } }
    .book-promo .book-bar-wide .large-book-image {
      width: 100%;
      height: auto;
      border: 1px solid #a49b94; }
      @media only screen and (min-width: 768px) {
        .book-promo .book-bar-wide .large-book-image {
          width: 100%;
          height: 200px; } }
  .book-promo .book-title {
    border-bottom: 1px solid #a49b94;
    padding: 0 0 0.9375rem; }
    .book-promo .book-title h2, .book-promo .book-title p {
      font-size: 1.0625rem;
      text-transform: uppercase;
      font-weight: 300; }
    .book-promo .book-title h3 {
      font-size: 1.625rem; }
    .book-promo .book-title h2, .book-promo .book-title h3, .book-promo .book-title p {
      line-height: 1.5rem; }
  .book-promo .other-info {
    padding: 0.9375rem 0 0; }
  .book-promo .book-logo {
    width: 75px;
    margin: 0 auto;
    display: block; }
  .book-promo .release-date {
    font-size: 1.5rem;
    text-transform: uppercase; }

/* === Buttons === */
.button {
  border: 1px solid #a49b94;
  background: rgba(255, 255, 255, 0.8);
  padding: 0.75rem;
  display: inline-block;
  text-transform: uppercase;
  width: auto;
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: normal;
  font-weight: 100;
  font-size: 0.875rem; }

/* === Contact === */
.contact .contact-info, .contact .mailing-list {
  text-transform: uppercase;
  margin-bottom: 1.875rem; }
  .contact .contact-info a, .contact .mailing-list a {
    font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
    display: block;
    line-height: 2rem; }
  .contact .contact-info p, .contact .mailing-list p {
    margin-bottom: 0; }
  .contact .contact-info h3, .contact .mailing-list h3 {
    font-size: 1.375rem;
    text-transform: uppercase;
    font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
    font-style: normal;
    font-weight: 100;
    margin-top: 2rem; }

.contact .subscribe-form input.email {
  border: 2px solid #a49b94;
  border-right: 0px;
  padding: 0.75rem;
  width: 70%;
  text-transform: uppercase;
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: normal;
  font-weight: 100;
  margin-top: 2rem; }

.contact .subscribe-form .button {
  background: #a49b94;
  color: #ffffff;
  font-size: 1rem;
  margin-top: 0;
  border: 0;
  padding: 0.88rem; }

.contact .small-carousel {
  margin-bottom: 1.875rem; }

/* === Featured Press Items === */
.featured-press-item {
  margin: 0 0 1.875rem;
  padding-bottom: 1.875rem;
  border-bottom: 1px solid #a49b94; }
  .featured-press-item .featured-press-item-image {
    margin: 0 auto;
    text-align: center; }
    .featured-press-item .featured-press-item-image img {
      width: auto;
      height: 312px; }
    .featured-press-item .featured-press-item-image h4 {
      text-align: center;
      text-transform: uppercase; }
      .featured-press-item .featured-press-item-image h4.press-title {
        font-size: 1.1875rem; }
      .featured-press-item .featured-press-item-image h4.press-date {
        font-size: 1rem; }

.featured-press-item-details {
  margin: 1.875rem 0; }
  .featured-press-item-details .featured-press-item-large-image {
    margin: 0 0 1.875rem; }
    .featured-press-item-details .featured-press-item-large-image img {
      width: 100%; }

/* === Hero Slider === */
.carousel {
  max-width: 100rem; }

.hero-picture,
.project-picture {
  height: 100%;
  width: 100%;
  font-family: 'object-fit: contain;';
  object-fit: cover;
  max-width: 100rem; }
  .hero-picture img,
  .project-picture img {
    width: 100%;
    height: auto;
    font-family: 'object-fit: contain;';
    object-fit: cover; }

/* === Press Items === */
.press-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-bottom: 1px solid #a49b94; }
  .press-items .press-image img {
    width: 100%; }
  .press-items .press-item {
    margin-bottom: 30px; }
    @media only screen and (min-width: 768px) {
      .press-items .press-item {
        width: 33%;
        padding: 1rem;
        margin-bottom: 0; } }
    .press-items .press-item h4 {
      text-align: center;
      text-transform: uppercase; }
      .press-items .press-item h4.press-title {
        font-size: 1rem; }
      .press-items .press-item h4.press-date {
        font-size: 0.9375rem; }

.project-img {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0 1.875rem; }
  .project-img.project-page {
    height: 26.25rem; }
    .project-img.project-page .project-picture img {
      height: 100%;
      width: 100%; }
  .project-img .project-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    background: rgba(255, 255, 255, 0.8);
    width: 50%;
    text-align: center;
    padding: 1.25rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 1.125rem; }
    @media only screen and (min-width: 768px) {
      .project-img .project-name {
        font-size: 2.25rem; } }

.share-print {
  text-align: center; }
  .share-print a {
    font-family: "Ringside Regular SSm A","Ringside Regular SSm B";
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.875rem; }

.social-list {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none; }
  .social-list a {
    width: 1rem;
    height: 1rem;
    margin: 1rem;
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
    display: inline-block; }
  .social-list .icon:before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem; }
  .social-list .icon.icon-facebook:before {
    background-image: url(http://beth.dev/wp-content/themes/webb/dist/images/icon-Facebook.svg); }
  .social-list .icon.icon-pinterest:before {
    background-image: url(http://beth.dev/wp-content/themes/webb/dist/images/icon-Pinterest.svg); }
  .social-list .icon.icon-instagram:before {
    background-image: url(http://beth.dev/wp-content/themes/webb/dist/images/icon-Instagram.svg); }
  .social-list .icon.icon-twitter:before {
    background-image: url(http://beth.dev/wp-content/themes/webb/dist/images/icon-Twitter.svg); }

.profile-post-navigation {
  margin-bottom: 20px;
  padding: 0 2rem; }

.prev-post, .next-post {
  position: absolute;
  font-size: 0.875rem;
  line-height: 2rem;
  text-transform: uppercase;
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: normal;
  font-weight: 300; }

.prev-post {
  left: 0; }

.next-post {
  right: 0; }

.row-large {
  padding: 0 1.875rem;
  margin-bottom: 30px; }
  .row-large img {
    width: 100%;
    max-width: 100%;
    height: auto; }

.row-two-col {
  padding: 0 1.875rem;
  margin-bottom: 30px; }
  .row-two-col img {
    width: 100%; }
    .row-two-col img:first-child {
      margin-bottom: 30px; }
  @media only screen and (min-width: 768px) {
    .row-two-col {
      display: flex; }
      .row-two-col img {
        width: 50%;
        height: auto; }
        .row-two-col img:first-child {
          padding-right: 30px;
          margin-bottom: 0px; } }

/**
 *  templates.scss
 *
 *  Description:
 *  Re-useable site templates.
 *
 */
/* === Footer === */
.main-footer {
  text-align: center; }
  .main-footer .social {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    margin: 0 0 1rem; }
    .main-footer .social li a {
      width: 1rem;
      height: 1rem;
      margin: 1rem;
      font-size: 1.2rem;
      line-height: 2rem;
      text-align: center;
      display: block; }
    .main-footer .social .icon:before {
      content: "";
      display: block;
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem; }
    .main-footer .social .icon.icon-facebook:before {
      background-image: url(http://beth.dev/wp-content/themes/webb/dist/images/icon-Facebook.svg); }
    .main-footer .social .icon.icon-pinterest:before {
      background-image: url(http://beth.dev/wp-content/themes/webb/dist/images/icon-Pinterest.svg); }
    .main-footer .social .icon.icon-instagram:before {
      background-image: url(http://beth.dev/wp-content/themes/webb/dist/images/icon-Instagram.svg); }
    .main-footer .social .icon.icon-twitter:before {
      background-image: url(http://beth.dev/wp-content/themes/webb/dist/images/icon-Twitter.svg); }
  .main-footer .copyright {
    text-transform: uppercase;
    font-size: 0.625rem;
    font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
    padding: 0 0 3rem; }

/* === Header === */
body {
  background: #ffffff; }

.main-header {
  background: #ffffff;
  height: 5rem;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 9999; }
  @media only screen and (min-width: 768px) {
    .main-header {
      height: 6.5625rem; } }
  .main-header .inner-wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 100rem;
    position: relative;
    display: flex;
    padding-top: 20px; }
    .main-header .inner-wrap::after {
      clear: both;
      content: "";
      display: block; }
    @media only screen and (max-width: 374px) {
      .main-header .inner-wrap {
        padding-right: 6.25%;
        padding-left: 6.25%; } }
    @media only screen and (min-width: 375px) and (max-width: 767px) {
      .main-header .inner-wrap {
        padding-right: 5.46875%;
        padding-left: 5.46875%; } }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .main-header .inner-wrap {
        padding-right: 3.90625%;
        padding-left: 3.90625%; } }
    @media only screen and (min-width: 1024px) {
      .main-header .inner-wrap {
        padding-right: 3.47222%;
        padding-left: 3.47222%; } }
  .main-header .site-title {
    margin: auto; }
  .main-header .logo {
    padding-left: 32px; }
    .main-header .logo img {
      -webkit-transition: linear .3s;
      -moz-transition: linear .3s;
      -ms-transition: linear .3s;
      -o-transition: linear .3s;
      transition: linear .3s; }
      @media only screen and (max-width: 767px) {
        .main-header .logo img {
          width: 9.375rem; } }
      @media only screen and (min-width: 768px) {
        .main-header .logo img {
          width: 12.875rem; } }
  .main-header #hamburger {
    align-self: flex-end;
    width: 32px;
    height: 26px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
    @media only screen and (min-width: 375px) and (max-width: 767px) {
      .main-header #hamburger {
        align-self: center; } }
    .main-header #hamburger span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #a49b94;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
      .main-header #hamburger span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center; }
      .main-header #hamburger span:nth-child(2) {
        top: 9px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center; }
      .main-header #hamburger span:nth-child(3) {
        top: 18px;
        left: 0px; }
    .main-header #hamburger.open span:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0px;
      left: 2px; }
    .main-header #hamburger.open span:nth-child(2) {
      width: 0%;
      opacity: 0; }
    .main-header #hamburger.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 11px;
      left: -3px; }

body.sticky-header {
  padding-top: 100px; }
  body.sticky-header .main-header {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: linear .3s;
    -moz-transition: linear .3s;
    -ms-transition: linear .3s;
    -o-transition: linear .3s;
    transition: linear .3s; }
    body.sticky-header .main-header h1 {
      -webkit-animation: scale 1s ease-in, slide 2s ease;
      -moz-animation: scale 1s ease-in, slide 2s ease;
      animation: scale 1s ease-in, slide 2s ease; }
    body.sticky-header .main-header .logo img {
      -webkit-transition: linear .3s;
      -moz-transition: linear .3s;
      -ms-transition: linear .3s;
      -o-transition: linear .3s;
      transition: linear .3s; }
      @media only screen and (min-width: 375px) {
        body.sticky-header .main-header .logo img {
          width: 9.375rem; } }

#primary-nav {
  display: none;
  transition: opacity 1s linear;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
  width: 150px;
  text-align: left;
  text-transform: uppercase;
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px;
  font-size: 0.9375rem; }
  #primary-nav li {
    padding: 10px 0; }
  #primary-nav a {
    padding: 10px; }
  @media only screen and (max-width: 767px) {
    #primary-nav {
      right: 0;
      top: 80px;
      border-top: 1px solid #a49b94;
      width: 100%;
      background: #ffffff; } }
  @media only screen and (max-width: 1023px) {
    #primary-nav {
      position: absolute; } }
  @media only screen and (min-width: 768px) {
    #primary-nav {
      right: 0;
      top: 105px;
      position: absolute; } }
  #primary-nav.open {
    display: block; }

header + * {
  margin-top: 105px; }

@media only screen and (min-width: 768px) {
  .two-col {
    display: flex;
    justify-content: space-between; }
    .two-col .two-one-col {
      width: 50%; }
      .two-col .two-one-col:first-child {
        padding-right: 30px; } }

.two-col .small-carousel .slick-slide img {
  width: 100%;
  height: auto; }

.two-col p, .two-col blockquote {
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  line-height: 2rem;
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased; }

.two-col p:first-child:first-line {
  font-size: 2rem;
  font-family: "Requiem Display A", "Requiem Display B"; }

.two-col blockquote {
  text-align: center;
  position: relative;
  margin: 30px 0; }
  .two-col blockquote p:first-line {
    font-size: 2.5rem;
    font-family: "Requiem Display A", "Requiem Display B"; }
  .two-col blockquote:before, .two-col blockquote:after {
    font-size: 4rem;
    position: absolute;
    display: block; }
  .two-col blockquote:before {
    content: "\201C";
    display: block;
    font-size: 4rem;
    position: absolute; }
  .two-col blockquote:after {
    content: "\201D";
    display: block;
    right: 0;
    bottom: 0; }

/* === Typography === */
a {
  color: #a49b94;
  text-decoration: none;
  transition: color 250ms ease-out; }
  a:active, a:focus, a:hover {
    color: #54453D; }

blockquote {
  line-height: 1.1; }

body {
  font-family: "Requiem Display A", "Requiem Display B";
  color: #a49b94;
  line-height: 1.35; }

h1,
h2,
h3 {
  font-family: "Requiem Display A", "Requiem Display B";
  line-height: 1.1; }

h1 {
  margin: 0.75rem 0; }
  @media only screen and (max-width: 374px) {
    h1 {
      font-size: 2.625rem; } }
  @media only screen and (min-width: 375px) {
    h1 {
      font-size: 3.75rem; } }

h2 {
  font-size: 2.25rem; }
  h2.page-title {
    text-transform: uppercase;
    text-align: center;
    display: table;
    white-space: nowrap;
    font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
    font-style: normal;
    font-weight: 100;
    font-size: 1.3rem;
    letter-spacing: 4px;
    overflow: hidden;
    width: 100%;
    padding: 20px 0 60px; }
    h2.page-title:before, h2.page-title:after {
      border-top: 1px solid #a49b94;
      content: '';
      display: table-cell;
      position: relative;
      top: 0.5em;
      width: 45%; }
    h2.page-title:before {
      right: 1.5%; }
    h2.page-title:after {
      left: 1.5%; }

h3 {
  font-size: 1.5rem; }

h4.with-border {
  text-transform: uppercase;
  text-align: center;
  display: table;
  white-space: nowrap;
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: normal;
  font-weight: 100;
  font-size: 0.875rem;
  letter-spacing: 4px;
  overflow: hidden;
  width: 100%; }
  h4.with-border:before, h4.with-border:after {
    border-top: 1px solid #a49b94;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 45%; }
  h4.with-border:before {
    right: 1.5%; }
  h4.with-border:after {
    left: 1.5%; }

hr {
  border-left: 0;
  border-right: 0;
  border-top: 0; }

p, ol, ul {
  font-size: 1rem;
  line-height: 1.5rem; }

.line-break {
  display: block; }

.stroke {
  color: #ffffff;
  text-shadow: 3px 3px #a49b94; }
  @supports (-webkit-text-stroke: 1px #a49b94) {
    .stroke {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: #a49b94;
      -webkit-text-stroke-width: 1px;
      color: transparent;
      text-shadow: none; }
      @media only screen and (min-width: 768px) {
        .stroke {
          -webkit-text-stroke-width: 3px; } } }

.uppercase {
  text-transform: uppercase; }

.centered-content {
  text-align: center;
  margin-bottom: 30px; }
  .centered-content p {
    font-size: 1.375rem; }
