/* === Fonts === */

/**
* Font face declarations for Typography.com hosted fonts
*/

@import '//cloud.typography.com/7291996/7132792/css/fonts.css';

/* Requiem Display Roman */
@font-face {
  font-family: "Requiem Display A", "Requiem Display B";
  font-style: normal;
  font-weight: 400;
}

/* Requiem Display Italic */
@font-face {
  font-family: "Requiem Display A", "Requiem Display B";
  font-style: italic;
  font-weight: 400;
}

/* Ringside Regular */
@font-face {
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: normal;
  font-weight: 400;
}

/* Ringside Italic */
@font-face {
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: italic;
  font-weight: 400;
}

/* Ringside Bold */
@font-face {
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: normal;
  font-weight: 700;
}

/* Ringside Bold Italic */
@font-face {
  font-family: "Ringside Regular SSm A", "Ringside Regular SSm B";
  font-style: italic;
  font-weight: 700;
}