*{
	box-sizing: border-box;
    transition: all 0.5s ease;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.inner-wrap{
	@include container;

	@include grid-media($large-and-above) {
		// max-width: 64rem;
	}
}

.large-inner-wrap{
	@include container;
	@include grid-media($large-and-above) {
		max-width: $max-container-width-large;
	}
}