/* === Press Items === */


.press-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-bottom: $base-border;

	.press-image{
		img{
			width: 100%;
		}
	}

	.press-item{
		margin-bottom: 30px;

		@include grid-media($large-and-above) {
			width: 33%;
			padding: 1rem;
			margin-bottom: 0;
		}

		h4{
			text-align: center;
			text-transform: uppercase;

			&.press-title{
				font-size: 1rem;
			}

			&.press-date{
				font-size: 0.9375rem;
			}
		}
	}
}